<form class="{{cssClass}} flexcol" autocomplete="off">

  <!-- Item Sheet Header -->
  <header class="sheet-header flexrow">
    <img class="profile" src="{{item.img}}" data-tooltip="{{item.name}}" data-edit="img">

    <div class="header-details flexrow">
        <h1 class="charname">
            {{#if system.identified}}
            <input name="name" type="text" value="{{item.name}}" placeholder="{{ localize 'DND5E.ItemName' }}">
            {{else}}
            <input name="system.unidentified.name" type="text" value="{{system.unidentified.name}}"
                   placeholder="{{ localize 'DND5E.NameUnidentified' }}">
            {{/if}}
        </h1>

        <div class="item-subtitle">
            <h4 class="item-type">{{itemType}}</h4>
            <label class="equipped">
                <input type="checkbox" name="system.equipped" {{checked system.equipped}}>
                {{#if system.equipped}}
                    {{ localize "DND5E.Equipped" }}
                    {{#if editable}}<i class="fa-solid fa-toggle-on"></i>{{/if}}
                {{else}}
                    {{ localize "DND5E.Unequipped" }}
                    {{#if editable}}<i class="fa-solid fa-toggle-off"></i>{{/if}}
                {{/if}}
            </label>
            <label class="identified">
                <input type="checkbox" name="system.identified" {{checked system.identified}}>
                {{#if system.identified}}
                {{ localize "DND5E.Identified" }}
                {{#if editable}}<i class="fa-solid fa-toggle-on"></i>{{/if}}
                {{else}}
                {{ localize "DND5E.Unidentified.Title" }}
                {{#if editable}}<i class="fa-solid fa-toggle-off"></i>{{/if}}
                {{/if}}
            </label>
        </div>

        <ul class="summary flexrow">
            <li>
                {{#if concealDetails}}
                <span>{{ localize "DND5E.Unidentified.Title" }}</span>
                {{else}}
                <select name="system.rarity" {{~#if concealDetails}} inert{{/if}}>
                    {{selectOptions config.itemRarity selected=system.rarity blank=""}}
                </select>
                {{/if}}
            </li>
            <li>
                {{> "dnd5e.item-source"}}
            </li>
        </ul>
    </div>
</header>


  <!-- Item Sheet Navigation -->
  <nav class="sheet-navigation tabs" data-group="primary">
    <a class="item" data-tab="description">{{ localize "DND5E.Description" }}</a>
    <a class="item active" data-tab="details">{{ localize "DND5E.Details" }}</a>
  </nav>

  <!-- Item Sheet Body -->
  <section class="sheet-body">

    <!-- Description Tab -->
    {{> "modules/itemcollection/templates/bag-description.html"}}

    <!-- Details Tab -->
    <div class="tab details itemcollection-details" data-group="primary" data-tab="details">
      <h3 class="form-header">{{localize 'DND5E.ItemContainerDetails'}} {{parentName}}</h3>

      <div class="form-group compressed" style="flex-direction: column; padding-bottom: 1.5rem;">
        {{#if isGM}}
        <label class="checkbox">
          <input type="checkbox" name="system.properties.weightlessContents" {{checked properties.weightlessContents.selected}}>
          {{properties.weightlessContents.label}}
        </label>
        <label class="checkbox">
          <input type="checkbox" name="flags.itemcollection.weightlessUnequipped" {{checked flags.itemcollection.weightlessUnequipped}}>
          {{localize 'itemcollection.ItemContainerWeightlessUnequipped'}}
        </label>
        {{else}}
          {{#if properties.weightlessContents.selected}}  <label class="checkbox"> {{properties.weightlessContents.label}}</label> {{/if}}
          {{#if flags.itemcollection.weightlessUnequipped}}  <label class = "checkbox"> {{localize 'itemcollection.ItemContainerWeightlessUnequipped'}}</label> {{/if}}
        {{/if}}
        <div><label>{{localize 'itemcollection.itemsWeight'}} </label> {{itemsWeight}} <label> {{weightUnit}}</label>
        </div>
        {{#if itemCollection.totalGoldValue}}
        <div><label>{{localize 'itemcollection.totalGoldValue'}} </label> {{totalGoldValue}} </div>
        {{/if}}
      </div>

      {{#if showCurrency}}
      <ol class="currency flexrow" style="justify-content: center;">
        {{#each system.currency as |v k|}}
        <label>{{ lookup ../currencies k }}</label>
        <input type="text" name="system.currency.{{k}}" value="{{v}}" data-dtype="Number" />
        {{/each}}
      </ol>
      {{/if}}


      <li class="items-header"
        style="text-align: center; grid-template-columns: 4fr 1fr 1fr 1fr 1fr; display: grid; align-items: center;">
        <div class="item-name" style="text-align: start;">{{localize 'itemcollection.Name'}}
          <input class="item-name-filter" type="text" name="filter" placeholder="filter" value="{{filter}}"
            style="text-align: left">
        </div>
        <div class="item-detial">{{localize 'itemcollection.Quantity'}}</div>
        <div class="item-detail item-weight">{{localize "DND5E.Weight"}}</div>
        <div class="item-detail item-weight">{{localize "DND5E.Weight"}} (Stack)</div>
        <div class=item-control>
          {{#if isOwned}}
          <a class="item-control item-export-all" title="{{localize 'itemcollection.itemExportAll'}}"><i
              class="fas fa-minus"> {{localize 'itemcollection.All'}}</i></a>
          <a class="item-control item-import-all" title="{{localize 'itemcollection.itemImportAll'}}"><i
              class="fas fa-plus"> {{localize 'itemcollection.All'}}</i></a>
          {{/if}}
          <a class="item-control item-compact-all" title="{{localize 'itemcollection.itemCompactAll'}}"><i
              class="fas fa-star"> {{localize 'itemcollection.All'}}</i></a>
        </div>
      </li>

      <ol class="items-list inventory-list">
        {{#each items as |item iid|}}
        <li class="item item-inventory-line" data-item-id="{{item._id}}" data-item-name="{{item.name}}"
          style="display: grid; text-align: center; grid-template-columns: 4fr 1fr 1fr 1fr 1fr;">
          <div class="item-name flexrow">
            <div class="item-image" style="background-image: url('{{item.img}}')"></div>
            <h4>
              {{#if item.isSpell}}
              {{item.system.level}}
              {{/if}}
              {{item.name}}
            </h4>
          </div>
          <div>{{item.system.quantity}}</div>
          <div>{{item.system.weight}} {{../weightUnit}}</div>
          <div>{{item.totalWeight}} {{../weightUnit}}</div>

          <div class="item-controls flexrow">
            <a class="item-control item-edit" title='{{localize "DND5E.ItemEdit"}}'><i class="fas fa-edit"></i></a>
            {{#if item.isBackpack}}
            <a class="item-control item-export" title="{{localize 'itemcollection.itemExportB'}}"><i
                class="fas fa-asterisk"></i></a>
            {{else}}
            {{#if ../isOwned}}
            {{#if ../canImportExport}}
            <a class="item-control item-export" title="{{localize 'itemcollection.itemExport'}}"><i
                class="fas fa-minus"></i></a>
            {{/if}}
            {{/if}}
            <a class="item-control item-split" title="Split Item"><i class="fas fa-columns"></i></a>
            {{#if ../canConvertToGold}} <a class="item-control item-convertToGold" title="Convert To Gold"><i
                class="fas fa-dollar-sign"></i></a> {{/if}}
            {{/if}}
            <a class="item-control item-delete" title='{{localize "DND5E.ItemDelete"}}'><i class="fas fa-trash"></i></a>
          </div>
        </li>
        {{/each}}
      </ol>
    </div>
  </section>
</form>